<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="error">
  <Properties>
    <Property name="tracefile">./logs/demo</Property>
  </Properties>
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout charset="UTF-8" pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
    <RollingRandomAccessFile name="Trace" fileName="${tracefile}.log" filePattern="${tracefile}-%d{yyyy-MM-dd}-%i.log" bufferedIO="true">
      <PatternLayout charset="UTF-8" pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
      <Policies>
        <TimeBasedTriggeringPolicy interval="1"/>
        <SizeBasedTriggeringPolicy size="600 KB"/>
      </Policies>
    </RollingRandomAccessFile>
  </Appenders>
  <Loggers>
   <Logger name="chotdemo" level="trace" additivity="false">
      <AppenderRef ref="Trace"/>
    </Logger>
    <Root level="error">
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration>